{% extends "main/base.html" %}

{% block title %} User Login {% endblock %}

{% block content %}
Login

<form method="post" action="/">
    <label for="username">username:</label>
    <input type="search" id="search" name="search">
    <label for="institution">institution name:</label>
    <input type="search" id="institution" name="institution">
    <label for="password">password:</label>
    <input type="search" id="password" name="password">
    <button type="submit", name="save"> Login </button>
</form>

{% endblock %}